@model CreateViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <div>
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="Author.Name">Author name: </label>
        <input asp-for="Author.Name" type="text" value="@Model.Author.Name" />
        <span asp-validation-for="Author.Name"></span>
    </div>
    <div>
        <label asp-for="Article.Title"></label>
        <input asp-for="Article.Title" />
        <span asp-validation-for="Article.Title"></span>
    </div>
    <div>
        <label asp-for="Article.Area"></label>
        <select asp-for="Article.Area"
                asp-items="@Html.GetEnumSelectList<Area>()"></select>
        <span asp-validation-for="Article.Area"></span>
    </div>
    <div>
        <label asp-for="Article.Body">Content:</label> <br />
        <textarea rows="10" asp-for="Article.Body" ></textarea>
    </div>
    <div>
        <input type="submit" name="save" value="Save"/>
    </div>
    
</form>

