@model HomeIndexViewModel
@{
    ViewBag.Title = "Home page";
}

<h2>Recent Articles</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
    @foreach(var article in Model.Articles)
    {
    <tr>
        <td>@article.Title</td>
        <td>@article.Author</td>
        <td>
            <a asp-action="Details" asp-route-id="@article.Id">Read article</a>
        </td>
    </tr>
    }
</table>

@section footer
{
    @Model.Owner.GetFooter()
}

