@model CreaPost.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="col-sm-4">
    <form method="post">
        <div>
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-check">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label">Remember me</label>
        </div>
    </form>
</div>