@model IEnumerable<CreaPost.Models.Author>
@{
    ViewBag.Title = "Authors";
}

<h2>Authors</h2>

<div>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Descrription</th>
        </tr>
        @foreach (var author in Model)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="AuthorDetails" asp-route-id="@author.Id">@author.Name</a></td>
                
            </tr>
        }
    </table>
</div>