<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CreaPost: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <header>
            <div>CreaPost</div>
            <menu>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="btn" style="color:black">Home</a></li>
                    <li>
                        <a>Search</a>
                        <ul>
                            <li><a asp-controller="Search" asp-action="Authors">Authors</a></li>
                            <li><a asp-controller="Search" asp-action="Articles">Articles</a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="About" asp-action="About" class="btn" style="color:black">About</a></li>
                </ul>
            </menu>
            <div></div>
        </header>
    </nav>
    <div class="container">
        <div>
            @RenderBody()
        </div>
    </div>
    <footer class="container" style="margin-top:40px;">
        <b>
            @RenderSection("footer", required: false)
        </b>
    </footer>


    <script src="~/js/site.js"></script>

</body>
</html>
